<html>
    <head>
        <title>Fourth</title>
        <link href=""></link>
        <link rel="stylesheet" href="css/style.css">
              <link rel="stylesheet" type="text/css" href="css/all.css">

    </head>
    <body>
        <h2>{{>header}}</h2>
        {{!-- any static content we have to refresh completely --}}
        <h2>Title: {{title}}</h2>
        <h2>Name: {{name}}</h2>
        <h2>City:{{city}}</h2>
        <p>Description: {{desc}}</p>
        <img src={{img2}} alt="hhhhhh"/>
        <p>{{>footer}}</p>
    </body>
</html>